<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{list.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let todo of list.todos">
      <ion-item button routerLink="/todo-details/{{todo.id}}" routerLinkActive="active">
        <ion-label>
          {{todo.name}}
          <p>{{todo.description}}</p>
        </ion-label>
        <ion-checkbox slot="end" (click)="done(todo, $event)" [(ngModel)]="todo.isDone"></ion-checkbox>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTodo(todo)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModalTodo()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>