<ion-header>
  <ion-toolbar color={{list.colour}}>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{list.name}}{{test}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="user !== undefined  && list.owner === user.email" (click)="share()">
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <!-- Titre qui se réduit dans la barre d'outils sur iOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{list.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list >
    <ion-item-sliding *ngFor="let todo of list.todos" >
      <ion-item button [routerLink]="['/todo-details/',  todo.id]" [queryParams]="{list: list.id}" routerLinkActive="active">
        <ion-label>
          {{todo.name}}
          <p>{{todo.description}}</p>
        </ion-label>
        <ion-checkbox class="casaco" color={{list.colour}}  slot="end" value="todo.isDone" [(ngModel)]="todo.isDone" (click)="$event.stopPropagation(); updateIsDone(todo)" [attr.disabled]="isDisabled ? true: null"></ion-checkbox>
      </ion-item>
      
      <ion-item-options side="end" *ngIf="!isDisabled">
        <ion-item-option color="danger" (click)="deleteTodo(todo)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="empty-list" *ngIf="list.todos?.length === 0">
    <ion-icon name="file-tray-outline"></ion-icon>
    <h4>C'est vide ici…</h4>
    <ion-text>Ajoutez de nouvelles tâches en cliquant sur le + en bas à droite.</ion-text>
  </div>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="Speak()" color="dark">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-fab *ngIf="user !== undefined  && (list.owner === user.email || list.canWrite.indexOf(user.email) !== -1)" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModalTodo()" color={{list.colour}}>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>