.md .casaco { // style Android
    --border-radius: 100%;
    --size: 30px;
    --checkmark-width: 1px;
    margin-left : 16px;
}

.md .casaco:disabled { // style Android
    --border-radius: 100%;
    --size: 30px;
    --checkmark-width: 1px;
    margin-left : 16px;
}