<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mot de passe</ion-title>
    <ion-buttons slot="end">
      <form [formGroup]="newPasswordForm" (ngSubmit)="onFormSubmit()">
        <ion-button type="submit" fill="solid" color="success" [disabled]="!newPasswordForm.valid">
          Modifier
        </ion-button>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="dark">
    <h6>Changer le mot de passe de votre compte Todos</h6>
  </ion-text>
  <p>Celui-ci ne sert que lorsque vous vous connectez à l'aide de votre compte Todos. Choisissez-le difficile à deviner.</p>

  <form [formGroup]="newPasswordForm" (ngSubmit)="onFormSubmit()">
    <ion-item lines="none">
      <ion-label position="stacked">Mot de passe actuel</ion-label>
      <ion-input type="password" formControlName="currentPassword" autofocus="true" clearOnEdit="false" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Nouveau mot de passe</ion-label>
      <ion-input type="password" formControlName="newPassword" clearOnEdit="false" required></ion-input>
      <ion-text color="danger" *ngIf="newPasswordForm.controls.newPassword.errors?.minlength && newPasswordForm.controls.newPassword.touched">
        <span><small>Le mot de passe doit faire au moins 8 caractères.</small></span>
      </ion-text>
      <ion-text color="danger" *ngIf="newPasswordForm.controls.newPassword.errors?.pattern && newPasswordForm.controls.newPassword.touched && !newPasswordForm.controls.newPassword.errors?.minlength">
        <span><small>Le mot de passe doit comporter au moins une minuscule, une majuscule, un chiffre et un symbole.</small></span>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Confirmer le mot de passe</ion-label>
      <ion-input type="password" formControlName="confirmPassword" clearOnEdit="false" required></ion-input>
      <ion-text color="danger" *ngIf="newPasswordForm.controls.confirmPassword.errors?.mustmatch && newPasswordForm.controls.confirmPassword.touched">
        <span><small>Les mots de passe ne correspondent pas.</small></span>
      </ion-text>
    </ion-item>
  </form>
</ion-content>