<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nouvelle liste</ion-title>
    <ion-buttons slot="end">
      <form [formGroup]="listForm" (ngSubmit)="onFormSubmit()">
        <ion-button type="submit" fill="solid" color="success" [disabled]="!listForm.valid">
          Créer
        </ion-button>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="listForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="listName" required></ion-input>
    </ion-item>
  </form>
</ion-content>