<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
    <h1>Récupération de mot de passe</h1>
    <p>Entrez le courriel utilisé lors de la création de votre compte</p>

    <ion-item lines="none">
      <ion-label position="stacked">Courriel</ion-label>
      <ion-input inputmode="email" type="email" formControlName="email" autocomplete="email" required></ion-input>
      <ion-text color="danger" *ngIf="passwordRecoveryForm.controls.email.invalid && passwordRecoveryForm.controls.email.touched">
        <span><small>Le courriel n'est pas valide.</small></span>
      </ion-text>
    </ion-item>

    <ion-button fill="clear" type="submit" [disabled]="!passwordRecoveryForm.valid">
      Confirmer
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>

    <a routerLink="/login" routerLinkActive="active">Je me souviens de mon mot de passe</a>
  </form>
</ion-content>