ion-input, ion-textarea, ion-select {
  margin-top: 10px;
  border-radius: 5px;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}

:host-context(body[color-theme="light"]) ion-input, :host-context(body[color-theme="light"]) ion-textarea {
  --background: rgb(240, 240, 240);
}

:host-context(body[color-theme="dark"]) ion-input, :host-context(body[color-theme="dark"]) ion-textarea {
  --background: #1e1e1e;
}

:host-context(body[color-theme="light"]) ion-select {
  background: rgb(240, 240, 240);
}

:host-context(body[color-theme="dark"]) ion-select {
  background: #1e1e1e;
}

ion-item {
  --background-focused-opacity: 0;
}

:host-context(body[color-theme="dark"]) ion-item {
  --background: rgba(0,0,0,0);
}

form {
  box-sizing: border-box;
  position: relative;
}

ion-content.ios {
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-button {
  font-size: 13.5px;
}

.md ion-button {
    --border-radius: 5px;
}

h6 {
    text-align: center;
    padding: 0 16px;
}

p {
    text-align: justify;
    padding: 0 16px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
}

p b {
    color: var(--ion-text-color, #000000);
}

hr {
    border: none;
    border-top: 1px solid var(--ion-color-light-shade);
    overflow: visible;
    text-align: center;
    margin: 30px 0;
    height: 0px;
}

.empty-list {
  text-align: center;
  color: var(--ion-color-light-shade);
  padding: 0 50px;
}

.empty-list ion-icon {
  width: 100px;
  height: 100px;
}