<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nouvelle tâche</ion-title>
    <ion-buttons slot="end">
      <form [formGroup]="todoForm" (ngSubmit)="onFormSubmit()">
        <ion-button type="submit" fill="solid" color="success" [disabled]="!todoForm.valid">
          Créer
        </ion-button>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="dark">
    <h6>Ajoutez une tâche à la liste</h6>
  </ion-text>
  <p>Une tâche peut être détaillée dans la description. Une case à cocher permet d'indiquer si elle est en cours ou terminée.</p>

  <form [formGroup]="todoForm" (ngSubmit)="onFormSubmit()">
    <ion-item lines="none">
      <ion-label position="stacked">Nom</ion-label>
      <ion-input type="text" formControlName="todoName" autofocus="true" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea type="text" rows="10" formControlName="todoDesc"></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Date d'échéance</ion-label>
      <ion-datetime (click)="getDate()" formControlName="todoDeadline" #datepickerInput
        displayFormat="D MMM YYYY à HH:mm" 
        min="1996" 
        max="2099" 
        cancelText="Annuler"
        doneText="Accepter"
        value=""
        dayShortNames="customDayShortNames"
        monthNames="janvier, février, mars, avril, mai, juin, juillet, août, septembre, octobre, novembre, décembre"
        monthShortNames="janv., févr., mars, avr., mai, juin, juil., août, sept., oct., nov., déc.">
      </ion-datetime>
      <ion-button [hidden]="datepickerInput.value === ''" class="clear-date-button" slot="end" (click)="this.datepickerInput.value = ''"  fill="clear" size="default" shape="round">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-content>