<ion-header>
  <ion-toolbar color={{parentList.colour}}>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détail de la tâche</ion-title>
    <ion-checkbox slot="end" class="casaco" color="light" value="todo.isDone" [(ngModel)]="todo.isDone" (click)="updateIsDone($event)" [attr.disabled]="isDisabled ? true: null"></ion-checkbox>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color={{parentList.colour}}>Nom</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input (ionBlur)="updateName($event)" value="{{todo.name}}" [attr.readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label color={{parentList.colour}}>Description</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea (ionBlur)="updateDescription($event)" rows="10" value="{{todo.description}}" [attr.readonly]="isReadonly"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
