.md .casaco { // style Android
    --border-radius: 100%;
    --size: 30px;
    --checkmark-width: 2px;
    margin-right: 15px;
    --border-color: var(--ion-color-light);
}

.ios .casaco { // style iOS
    margin-right: 6px;
}

.clear-date-button {
    color: #666666;
    margin: 0;
    width: 30px;
    height: 30px;
    --ripple-color: transparent;
}

.clear-date-button::part(native) {
    padding: 0;
}

ion-datetime {
    flex: 1;
}

.calendar-button {
    margin-right: 10px;
}