<ion-header>
  <ion-toolbar color={{parentList.colour}}>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détail de la tâche</ion-title>
    <ion-checkbox slot="end" class="casaco" color="light" value="todo.isDone" [(ngModel)]="todo.isDone" (click)="updateIsDone($event)" [attr.disabled]="isDisabled ? true: null"></ion-checkbox>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color={{parentList.colour}}>Nom</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input (ionBlur)="updateName($event)" value="{{todo.name}}" [attr.readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label color={{parentList.colour}}>Description</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea (ionBlur)="updateDescription($event)" rows="10" placeholder="Ajouter une description" value="{{todo.description}}" [attr.readonly]="isReadonly"></ion-textarea>
    </ion-item>

    <ion-list-header>
      <ion-label color={{parentList.colour}}>Date d'échéance</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-datetime (ionBlur)="updateDeadline($event)" #datepickerInput [attr.readonly]="isReadonly"
        placeholder="Ajouter une date d'échéance" 
        displayFormat="D MMM YYYY à H:mm" 
        min="1996" 
        max="2099" 
        cancelText="Annuler" 
        doneText="Accepter" 
        value="{{deadlineISO}}" 
        dayShortNames="customDayShortNames" 
        monthNames="janvier, février, mars, avril, mai, juin, juillet, août, septembre, octobre, novembre, décembre"
        monthShortNames="janv, févr, mars, avr, mai, juin, juil, août, sept, oct, nov, déc">
      </ion-datetime>
      <ion-button [hidden]="datepickerInput.value === ''" class="clear-date-button" slot="end" (click)="clearDate()"  fill="clear" size="default" shape="round" [hidden]="isDisabled" [attr.disabled]="isDisabled ? true: null">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list-header *ngIf="isNative">
      <ion-label color={{parentList.colour}}>Intégration calendrier</ion-label>
    </ion-list-header>
    <ion-item lines="full" *ngIf="isNative">
      <ion-button class="calendar-button" *ngIf="datepickerInput.value !== ''" color={{parentList.colour}} slot="start" (click)="createEvent()">Créer un évènement</ion-button>
      <ion-button class="calendar-button" color={{parentList.colour}} slot="start" (click)="openCalendar()">Ouvrir le calendrier</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
