<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mes listes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="hideSearch()">
        <ion-icon id="searchIcon" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon class="component-icon component-icon-dark" name="moon" slot="start"></ion-icon>
        <ion-label>Mode sombre</ion-label>
        <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleColourTheme()"></ion-toggle>
      </ion-item>
      <ion-item button routerLink="/account" routerLinkActive="active">
        <ion-icon class="menu-icon" name="person-outline" slot="start"></ion-icon>
        <ion-label>Mon compte</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon class="menu-icon" color="danger" name="log-out-outline" slot="start"></ion-icon>
        <ion-label color="danger">Se déconnecter</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <ion-searchbar id="searchBar" placeholder="Rechercher une liste" animated (ionChange)="search($event)" inputmode="search" enterkeyhint="search" hidden></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list id="listOfList">
    <ion-item-sliding *ngFor="let list of lists">
      <ion-item-options side="start" *ngIf="currentUser !== undefined && list.owner === currentUser.email || list.canWrite.indexOf(this.currentUser.email) !== -1">
        <ion-item-option color="primary" (click)="presentModalListSetting(list)" >
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item button routerLink="/list-details/{{list.id}}" routerLinkActive="active">
        <ion-label>{{list.name}}</ion-label>
        <ion-icon name="paper-plane-outline" slot="end" *ngIf="list.owner !== currentUser.email && list.canWrite.indexOf(this.currentUser.email) !== -1 || list.canRead.indexOf(this.currentUser.email) !== -1"></ion-icon>
        <ion-icon name="people-outline" slot="end" *ngIf="(list.canRead.length > 0 || list.canWrite.length > 0) && list.owner === currentUser.email"></ion-icon>
        <ion-badge slot="end" color={{list.colour}}>{{list.todos.length}}</ion-badge>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="danger" (click)="deleteList(list)" >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="empty-list" *ngIf="lists?.length === 0">
    <ion-icon name="file-tray-outline"></ion-icon>
    <h4>C'est vide ici…</h4>
    <ion-text>Créer des listes en cliquant sur le + en bas à droite.</ion-text>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModalList()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="Speak()" color="dark">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



<ion-footer class="email-verified-warning" *ngIf="!verifiedEmail">
  <ion-item color="warning">
    <ion-label class="ion-text-wrap">
      <ion-text>
        <h2><strong>Courriel non vérifié</strong></h2>
      </ion-text>
      <p>Veuillez aller vérifier vos courriels pour confirmer votre adresse. Sans cela, vous ne pourrez pas réinitialiser votre mot de passe en cas de perte.</p>
    </ion-label>
  </ion-item>
</ion-footer>